.monthstable {
  th.right {
    min-width: 15em !important;
    width: 20em !important;
    max-width: 50em !important;
  }
  th,
  td {
    min-width: 5em !important;
    width: 15em !important;
    max-width: 50em !important;
  }
}